/*color background*/
$colorIndustria: #0a0092;
$colorConstruccion: #505050;
$colorAmbiente: #009218;

/*color Titulos*/
$tituloPrincipal: #ca0404;
$tituloSecundario: #059292;
$tituloTerciario: #202c2c;