.industria{
    color: #000000;
    background-color: $colorIndustria;
    background: linear-gradient(white, $colorIndustria, white);
    .industria__titulo{
    color: $tituloSecundario;
    border: 2px solid $tituloSecundario;
    }
}